@import 'framework.css';

/* 
	Table of contents:
	1. Common styles
	2. Common responsive styles
	3. Features
*/

/* 1. Common styles */
body {
  font-family: Raleway, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #000;
  -webkit-font-smoothing: antialiased;
}

body.dev {
  background: #ccc;
  min-height: 10000px;
}

header, section {
  position: relative;
}

header, section, [data-bg-src], [data-bg-src-2x] {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

header, section {
  overflow: hidden;
}

a, button {
  cursor: pointer;
  transition: all 0.25s;
}
a:hover, button:hover {
  text-decoration: none;
}
a:active, a:focus, button:active, button:focus {
  text-decoration: none;
  outline: none;
}

button {
  border: none;
  outline: none !important;
}

input {
  border: 0;
  outline: none;
  background: transparent;
  color: #1E0E62;
  resize: none;
}

h1, h2, h3, h4, h5, h6 {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  margin: 0;
  font-weight: 700;
  font-family: Raleway, Helvetica, Arial, sans-serif;
}

h1, h2 {
  font-size: 58px;
  line-height: 70px;
}

h1.small, h2.small {
  font-size: 42px;
  line-height: 52px;
  font-weight: 700;
}

b, strong {
  font-weight: 700;
}

.definition {
  padding: 0 30%;
}

/* Change AOS plugin default settings */
[data-aos=fade-down] {
  transform: translate3d(0, -35px, 0);
}

[data-aos=fade-up] {
  transform: translate3d(0, 35px, 0);
}

/* 2. Common responsive styles */
/* Smaller than 1200px */
@media (max-width: 1199.98px) {
  header[class^=pt-], header[class*=" pt-"], section[class^=pt-], section[class*=" pt-"] {
    padding-top: 80px;
  }
  header[class^=pb-], header[class*=" pb-"], section[class^=pb-], section[class*=" pb-"] {
    padding-bottom: 80px;
  }

  h1 br, h2 br, h3 br, .text-adaptive br {
    display: none;
  }

  h1, h2 {
    font-size: 52px;
    line-height: 62px;
  }

  h1.small, h2.small {
    font-size: 36px;
    line-height: 46px;
  }

}

/* Smaller than 992px */
@media (max-width: 991.98px) {
  h1, h2 {
    font-size: 42px;
    line-height: 52px;
  }
  h1.big, h2.big {
    font-size: 52px;
    line-height: 62px;
  }
  h1.small, h2.small {
    font-size: 32px;
    line-height: 42px;
  }

  .text-adaptive.f-24 {
    font-size: 22px;
    line-height: 32px;
  }
  .text-adaptive.f-22 {
    font-size: 20px;
    line-height: 30px;
  }
  .text-adaptive.f-20 {
    font-size: 18px;
    line-height: 28px;
  }
}

/* Smaller than 768px */
@media (max-width: 767.98px) {
  h1, h2 {
    font-size: 32px;
    line-height: 42px;
  }

  h1.small, h2.small {
    font-size: 26px;
    line-height: 36px;
  }

  .text-adaptive.f-24 {
    font-size: 20px;
    line-height: 30px;
  }
  .text-adaptive.f-22 {
    font-size: 18px;
    line-height: 28px;
  }
  .text-adaptive.f-20 {
    font-size: 16px;
    line-height: 26px;
  }
  .text-adaptive.f-18 {
    font-size: 16px;
    line-height: 26px;
  }

  .input.lg {
    height: 50px;
    font-size: 18px;
    font-weight: 500;
  }
}

/* Smaller than 576px */
@media (max-width: 575.98px) {
  h1, h2 {
    font-size: 26px;
    line-height: 36px;
  }
  h1.small, h2.small {
    font-size: 22px;
    line-height: 32px;
  }
  .definition {
    padding: 0 15%;
  }
  .boring_weekends {
    font-size: 16px;
  }
}

@media (max-width: 767.98px) {
  .header_2 .text-adaptive {
    margin-top: 20px;
  }
  .header_2 form {
    margin-top: 40px;
  }
  .header_2 form .input {
    text-align: center;
    max-width: 100%;
    width: 100%;
  }
  .header_2 form .btn {
    margin-top: 5px;
  }
}

/* 3. Features */
@media (max-width: 1199.98px) {
  .feature_1[class^=pb-], .feature_1[class*=" pb-"] {
    padding-bottom: 30px;
  }
}
@media (max-width: 767.98px) {
  .feature_1 .title {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .feature_1 .title br {
    display: none;
  }
}